---

---

<header
	class="bg-white shadow fixed top-0 left-0 w-full h-16 flex items-center"
>
	<div class="container mx-auto px-4 flex justify-between">
		<a class="text-gray-600 text-2xl" href="/">Logo</a>
		<nav>
			<input class="peer hidden" type="checkbox" id="btn-menu" /><label
				class="cursor-pointer lg:hidden"
				for="btn-menu">Menu</label
			>
			<ul
				class="absolute top-16 right-0 left-0 w-full peer-checked:hidden lg:static lg:w-auto lg:flex lg:gap-4"
			>
				<li>
					<a
						class="block lg:inline-block py-4 lg:p-0 text-center bg-gray-900 lg:bg-transparent text-gray-100 lg:text-gray-700 lg:hover:text-green-700 hover:text-lg lg:hover:text-base hover:font-semibold lg:font-semibold transition-all"
						href="/">Libro</a
					>
				</li>
				<li>
					<a
						class="block lg:inline-block py-4 lg:p-0 text-center bg-gray-900 lg:bg-transparent text-gray-100 lg:text-gray-700 lg:hover:text-green-700 hover:text-lg lg:hover:text-base hover:font-semibold lg:font-semibold transition-all"
						href="/">Sobre mí</a
					>
				</li>
				<li>
					<a
						class="block lg:inline-block py-4 lg:p-0 text-center bg-gray-900 lg:bg-transparent text-gray-100 lg:text-gray-700 lg:hover:text-green-700 hover:text-lg lg:hover:text-base hover:font-semibold lg:font-semibold transition-all"
						href="/">Contacto</a
					>
				</li>
			</ul>
		</nav>
	</div>
</header>
